<h1 class="text-center">WELCOME TO ANGULAR ASSIGNMENT</h1>
<div class="w-60 mx-auto mt-5">
  <label for="">ADD A USERS NAME</label>
  <input type="text" class="form-control w-200" #ref>
  <button class="btn btn-secondary d-block mx-auto mt-3" (click)="putItem(ref.value)">ADD THE USERNAME</button>

</div>
<div class="text-center">
<h2 class="text-center warning bg-primary">The usernames so far</h2>
<button class="btn btn-secondary" (click)="statusRev()">{{status ? "hide" : "show" }}</button>
<div class="text-center bg-info" *ngIf="status">
<h3 *ngFor="let item of userNames" >{{item}}</h3>
</div>